.header__image {
    background-image: url("https://github.com/DominikaGodzisz/homepage/blob/main/images/akustyka.jpg");
    background-color: #222;
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header__text {
    color: #eee;
    position: absolute;
    top: 70%;
    right: 15%;
}