.link {
    color: #00f;
    text-decoration: none;
}

.link:focus {
    outline: 2px solid #00f;
}

.link:hover {
    color: #02024d;
    border-bottom: 1px solid;
    outline: none;
}

.link:active {
    color: darkred;
}

.link--navigation {
    background-color: #a09e9d;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    box-shadow: 6px -6px 5px 0px rgba(0, 0, 0, 0.66);
}